<%= simple_form_for @asset, url: assets_path do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :type, collection: Asset::TYPES.map { |k, v| [v, k] },
                    label: 'Tipo de activo', include_blank: false, input_html: {id: 'asset_type', class: 'selectpicker'} %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div id="card">
          <div class="side">
            <%= f.input :plate_number, as: :string, label: 'Número de placa',
                        wrapper_html: {class: 'asset_plate_number'} %>
          </div>
          <div class="side">
            <%= f.input :quantity, label: 'Cantidad', wrapper_html: {class: 'hidden asset_quantity'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :description, as: :string, label: 'Descripción del activo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :serial_number, as: :string, label: 'Número de serie' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :status, collection: Asset::STATUS.map { |k, v| [v, k] },
                    label: 'Estado', selected: 4, input_html: {class: 'selectpicker'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label class="control-label" for="area_typeahead">Área</label>
          <input type="text" class="form-control typeahead"/>
        </div>
        <%= f.input_field :area_id, as: :hidden, id: 'asset_area_id' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :photo, as: :file, label: 'Foto del activo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :asset_category_id %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="clearfix">
          <strong>Garantía</strong>
          <span class="float-right">
            <%= f.input_field :has_warranty, id: 'warranty-details-toggle', class: 'toggle', data: {toggle: 'toggle'} %>
          </span>
        </div>
        <div class="warranty-details-wrapper">
          <div class="content-wrapper">
            <%= render 'assets/forms/warranty_form', f: f %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="clearfix">
          <strong>Especificaciones técnicas</strong>
          <span class="float-right">
            <%= f.input_field :has_tech_details, id: 'tech-details-toggle', class: 'toggle', data: {toggle: 'toggle'} %>
              </span>
        </div>
        <div class="tech-details-wrapper">
          <div class="content-wrapper">
            <%= render 'assets/forms/tech_details_form', f: f %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="clearfix">
          <strong>Detalles de seguridad</strong>
          <span class="float-right">
            <%= f.input_field :has_security_details, id: 'security-details-toggle', class: 'toggle', data: {toggle: 'toggle'} %>
          </span>
        </div>
        <div class="security-details-wrapper">
          <div class="content-wrapper">
            <%= render 'assets/forms/security_details_form', f: f %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="clearfix">
          <strong>Detalles de red</strong>
          <span class="float-right">
            <%= f.input_field :has_network_details, id: 'network-details-toggle', class: 'toggle', data: {toggle: 'toggle'} %>
          </span>
        </div>
        <div class="network-details-wrapper">
          <div class="content-wrapper">
            <%= render 'assets/forms/network_details_form', f: f %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <%= f.submit 'Guardar', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
