<%= f.simple_fields_for :network_detail_attributes do |nd| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= nd.input :ip, label: 'Dirección IP' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= nd.input :mask, label: 'Máscara de red' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= nd.input :gateway, label: 'Puerta de enlace' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= nd.input :dns, label: 'DNS' %>
      </div>
    </div>
<% end %>
