<div class="col-xs-12 col-md-6 center-block" style="float: none;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Ingrese al sistema para continuar.
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class: 'btn-success btn-block' %>
          </div>
      <% end %>
    </div>
    <div class="panel-footer clearfix">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

