<div class="row">
  <div class="page-header">
    <div class="pull-right">
      <div class="form-inline">
        <%= link_to new_revision_path, class: 'btn btn-primary btn-sm' do %>
            <%= fa_icon 'plus' %> Nueva revision
        <% end %>
        <input class="form-control input-sm" placeholder="Buscar revision" id="revision-list-search">
      </div>
    </div>
    <h1>Revisiones de activos</h1>
  </div>

  <div class="col-md-12" id="revisions-list">
    <div class="alert alert-info alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= fa_icon 'info' %> Recuerde que para agregar activos a revisiones debe utilizar la aplicacion movil
    </div>

    <% if @revisions.empty? %>
      <div class="text-center">
        <p>No existen revisiones, puede crear una nueva <%= link_to 'aquí', new_revisions_path %></p>
      </div>
    <% end %>

    <ul class="list-unstyled list">
      <% @revisions.each do |revision| %>
        <li>
          <div class="col-md-4 col-equal">
            <div class="panel panel-default panel-equal">
              <div class="panel-body">
                <%= link_to revision_path(revision) do %>
                    <h4 class="name"><%= revision.name.capitalize %></h4>
                <% end %>
                <div class="col-xs-12 text-small">
                  <ul class="list-inline">
                    <li>
                      <%= fa_icon revision.open ? 'unlock' : 'lock' %>
                      <strong>Abierta:</strong> <%= revision.open ? 'Si' : 'No' %>
                    </li>
                    <li>
                      <%= fa_icon 'list' %>
                      <strong>Ultima edicion:</strong> <%= revision.updated_at.strftime("%d-%m-%Y") %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
