<div class="details-wrapper clearfix">
  <span class="details-title">Especificaciones técnicas</span>
  <% if @asset.has_tech_details? %>
    <div class="float-right">
      <div class="dropdown">
        <a href="" class="icon-link" data-toggle="dropdown"><i class="fa fa-caret-down fa-1x"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" id="di-specs-edit" class="icon-link"><i class="fa fa-edit"></i> Editar</a></li>
          <li><%= link_to fa_icon('trash') + ' Eliminar', technical_detail_url(@asset.technical_detail.id),
                          method: :delete, class: 'delete-link', data: {confirm: 'Esta seguro?'} %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<% if @asset.has_tech_details? %>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>
            <% if @asset.technical_detail.os.include? 'indows' %><i class="fa fa-windows"></i><% else %><i class="fa fa-linux"></i><% end %>
            Sistema operativo</td>
          <td><%= @asset.technical_detail.os %></td>
        </tr>
        <tr>
          <td><i class="fa fa-microchip"></i> Procesador</td>
          <td><%= @asset.technical_detail.cpu %></td>
        </tr>
        <tr>
          <td><i class="fa fa-diamond"></i> Memoria RAM</td>
          <td><%= @asset.technical_detail.ram %> GB</td>
        </tr>
        <tr>
          <td><i class="fa fa-database"></i> Almacenamiento</td>
          <td><%= @asset.technical_detail.hdd_to_nice %></td>
        </tr>
      </table>
    </div>
<% else %>
    <div class="alert alert-info">
      El activo no posee especificaciones técnicas. ¿Desea <a href="#" id="a-specs-create">agregarlas</a>?
    </div>
<% end %>