<h4><strong>Activo</strong>
  <span class="type label label-<%= @asset.type.include?('Un') ? 'default' : 'info' %>">
    <%= @asset.type_to_h.downcase %>
  </span>
</h4>
<p><strong>Descripción:</strong> <%= @asset.description %></p>
<% if @asset.is_a? PlatedAsset %>
  <p><strong>Numero de placa:</strong> <%= @asset.plate_number %></p>
<% else %>
  <p><strong>Cantidad:</strong> <%= @asset.quantity %></p>
<% end %>
<p><strong>Numero de serie:</strong> <%= @asset.serial_number %></p>

<%= render 'assets/show_partials/details_specs' %>
<%= render 'assets/show_partials/details_warranty' %>
<%= render 'assets/show_partials/details_network' %>
<%= render 'assets/show_partials/details_security' %>