<%= simple_form_for @relocation, url: asset_relocations_path do |f| %>
    <div class="form-group">
      <div class="col-sm-6">
        <%= f.association :from_area,
                          input_html: {class: 'selectpicker'},
                          :collection => Area.where("id == %i", @asset.area.id),
                          :selected => @asset.area.id,
                          readonly: true, label: 'Ubicación actual' %>
      </div>
      <div class="col-sm-6">
        <%= f.association :to_area,
                          input_html:
                            {class: 'selectpicker',
                             data: {live_search: true, header: 'Seleccione un área', none_selected_text: 'Seleccione un área'}},
                          :collection => Area.where.not(id: @asset.area.id),
                          label: 'Ubicación destino' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <%= f.input :reason, placeholder: 'Brinde una explicación del porqué se reubica el activo', label: 'Razón' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <%= f.button :submit, "Reubicar", class: "btn-primary" %>
      </div>
    </div>
<% end %>
