<% if @query %>
    <% title 'Resultado de la búsqueda' %>
<% else %>
    <% title 'Listado de activos' %>
<% end %>
<div class="row">
  <div class="page-header">
    <div class="pull-right">
      <form action="<%= url_for search_assets_path %>" class="form-inline">
        <div class="form-group">
          <%= link_to new_asset_path, class: 'btn btn-primary btn-sm' do %>
            <%= fa_icon 'plus' %> Nuevo activo
          <% end %>
          <input class="form-control input-sm" type="text" placeholder="Buscar" name="q" value="<%= @query %>"/>
          <button type="submit" class="btn btn-default"><%= fa_icon 'search' %></button>
        </div>
      </form>
    </div>
    <h1>Activos</h1>
  </div>
  <div class="col-xs-12 center-block">
    <% if @query %>
        <div class="col-xs-12">
          Mostrando resultados para el término de búsqueda "<%= @query %>". <%= link_to 'Limpiar búsqueda', assets_path %>
        </div>
        <br><br><!--lololololol-->
    <% end %>
    <div class="col-xs-12">
      <% @assets.each do |asset| %>
          <div class="col-md-6">
            <%= render 'assets/partials/card', asset: asset %>
          </div>
      <% end %>
    </div>
    <div class="col-xs-12 text-center">
      <%= paginate @assets %>
    </div>
  </div>
</div>