<div class="row">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to fa_icon('edit') + ' Editar', edit_asset_url(@asset.id), class: 'btn btn-sm btn-primary' %>
    </div>
    <h1><%= @asset.category.name %> <small>#<%= @asset.id %></small></h1>
  </div>
  <div class="col-xs-12 col-sm-9 asset-details">
    <%= render 'assets/details/details' %>
  </div>
  <div class="col-xs-12 col-sm-3 sidebar">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'assets/details/sidebar' %>
      </div>
    </div>
  </div>  
  <%= render 'assets/details/modals' %>
</div>
