<div class="details-wrapper clearfix">
  <span class="details-title">Garantía</span>
  <% if @asset.has_warranty? %>
    <div class="float-right">
      <div class="dropdown">
        <a href="" class="icon-link" data-toggle="dropdown"><i class="fa fa-caret-down fa-1x"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" id="di-warranty-edit" class="icon-link"><i class="fa fa-edit"></i> Editar</a></li>
          <li><%= link_to fa_icon('trash') + ' Eliminar', warranty_url(@asset.warranty.id), method: :delete, id: 'di-warranty-delete', class: 'delete-link' %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<% if @asset.has_warranty? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td colspan="2">Fecha de compra</td>
          <td colspan="2" class="text-center"><%= @asset.warranty.purchase_date %></td>
        </tr>
        <tr>
          <td colspan="2">Periodo</td>
          <td colspan="2" class="text-center"><%= @asset.warranty.month_period %> meses</td>
        </tr>
        <tr>
          <td colspan="2">Vence</td>
          <td colspan="2" class="momentjs text-center" data-date="<%= @asset.warranty.termination_date %>"></td>
        </tr>
        <tr>
          <td>Emisor</td>
          <td><%= @asset.warranty.agent_name %></td>
          <td><i class="fa fa-phone"></i> Teléfono</td>
          <td><%= @asset.warranty.agent_phone %></td>
        </tr>
      </table>
    </div>
<% else %>
    <div class="alert alert-info">
      El activo no posee detalles de garantía. ¿Desea <a href="#" id="a-warranty-create" data-toggle="modal" data-target="specs-modal">agregarla</a>?
    </div>
<% end %>