<p class="text-justify"><%= @asset.description %></p>

<%= render 'assets/details/details_specs' %>
<%= render 'assets/details/details_warranty' %>
<%= render 'assets/details/details_network' %>
<%= render 'assets/details/details_security' %>
