<p class="text-justify"><%= @asset.description %></p>

<% if @asset.category.accepts_technical_details %>
    <%= render 'assets/details/details_specs' %>
<% end %>
<% if @asset.category.accepts_technical_details %>
    <%= render 'assets/details/details_warranty' %>
<% end %>
<% if @asset.category.accepts_technical_details %>
    <%= render 'assets/details/details_network' %>
<% end %>
<% if @asset.category.accepts_technical_details %>
    <%= render 'assets/details/details_security' %>
<% end %>
<hr>
<%= render 'assets/details/details_loans' %>