<div>
  <%= link_to @asset.category.name.capitalize, category_path(@asset.category) %> 
  <div class="text-center">
    <%= image_tag @asset.photo.url(:thumb), class: "img-thumbnail asset-thumbnail" %>
  </div>
  <p class="text-center">
    <span class="label label-success">
      <%= @asset.status_to_h %>
    </span>
  </p>
</div>

<div>
  <hr>
  <p><strong>Informacion</strong></p>
  <ul class="list-group asset-details">
    <li class="list-group-item">
      <span class="badge alert-<%= @asset.type.include?('Un') ? 'default' : 'info' %>">
        <%= @asset.type_to_h %>
      </span>
      Tipo
    </li>
    <li class="list-group-item">
      <span class="badge alert-success">
        <%= @asset.is_a?(PlatedAsset)? @asset.plate_number : @asset.quantity %>
      </span>
      <%= @asset.is_a?(PlatedAsset)? 'No. de placa' : 'Cantidad' %>
    </li>
    <li class="list-group-item">
      <span class="badge alert-success">
        <%= @asset.serial_number %>
      </span>
      No. de serie
    </li>
  </ul>
</div>

<div>
  <hr>
  <p><strong>Codigo identificacion</strong></p>
  <div class="text-center code">
    <div id="raw-svg" hidden>
      <%= code_as_svg(@asset.identification_code, size: 3) %>
    </div>
    <%= link_to(asset_identification_codes_path(@asset)) do %>
      <object id="id-code"></object>
    <% end %>
  </div>
</div>

<div>
  <hr>
  <p><strong>Ubicacion</strong></p>
  <ul class="list-unstyled text-center">
    <li><strong><%= link_to @asset.area.name.capitalize, area_path(@asset.area) %></strong></li>
    <li><small class="text-muted"><%= link_to 'Reubicar', asset_relocations_path(@asset) %></small></li>
  </ul>
</div>
