<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :cpu, label: 'Procesador' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :ram, label: 'Memoria RAM' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= f.input :hdd, label: 'Disco duro' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= f.input :os, label: 'Sistema operativo' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= f.input :other, label: 'Otros detalles' %>
  </div>
</div>